.stip-test-color{
    background-color: darkseagreen !important;
}
.stip-prod-color{
    background-color: darkred !important;
}
.white-text {
    color: white !important;
    font-size: 25px;
    font-weight: 500;
}
